.backColor{
	background: #47bac1;
	color: white;
}

.headerColor{
	background: #3c8dbc;
	color: white;
}

hr.lineaCarga{
	height:1px; 
	border:none; 
	color:#000; 
	background-color:#000; 
	width:100%; 
	text-align: center;
}

/*.backColor button.close{
	margin-left:15px;
	margin-bottom: 35px; 
}*/