.form-container{
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(18 140 185 / 73%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: 1px solid #e6e7e8;
    box-shadow: 1px 0px 3px 1px rgb(249 249 250);
}
.group-material-login{ 
    position:relative; 
    margin-bottom:25px; 
}
.material-login-control,
.material-control-login{
  background-color: transparent;
  font-size:17px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #fff;
  outline:none;
}
.material-login-control:focus{ outline:none; }
.group-material-login label{
  color:#fff; 
  font-size:17px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:all 0.2s ease; 
  -moz-transition:all 0.2s ease; 
  -webkit-transition:all 0.2s ease;
}
/* Estado activo */
input.material-login-control:focus:valid ~ label,
input.material-login-control:valid ~ label{
  top:-18px;
  font-size:13px;
  color:#fff;
}
input.material-login-control:focus:invalid:required,
input.material-login-control:invalid:required{
  outline: none;
  box-shadow: none;
}
/*Barra de formularios material desing ================*/
.bar-login{ position:relative; display:block; width:100%; }
.bar-login:before, .bar-login:after     {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#fff; 
  transition:all 0.2s ease; 
  -moz-transition:all 0.2s ease; 
  -webkit-transition:all 0.2s ease;
}
.bar-login:before { left:50%; }
.bar-login:after { right:50%; }
input.material-login-control:focus ~ .bar-login:before, input.material-login-control:focus ~ .bar-login:after {
  width:50%;
}
.btn-login{
    background-color: #fafafa;
    text-align: center;
    font-size: 19px;
    line-height: 19px;
    color: #020202;
    padding: 6px;
    margin-bottom: 15px;
    position: absolute;
    bottom: 1%;
    right: 3%;
    border-radius: 4px;
    border: 1px solid #d6bebe66;
    box-shadow: 1px 0px 3px 1px rgb(144 136 136);
}
.btn-login:hover{
    border: 1px solid #02020266;
    box-shadow: 1px 0px 3px 1px rgb(28 25 25);
    background-color: #ffffff;
    color: #000;
}
.btn-login:focus,
.btn-login:active{
    outline: none;
    border: none;
    box-shadow: none;
}
label{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}
.radio-inline label:hover{
    cursor: pointer;
}
select.material-control-login{
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #444F55 url(../assets/icons/SelectMaterialIndicator-white.png) no-repeat scroll right 0.75rem center / 13px 8px;
}
select.material-control-login:hover{
    cursor: pointer;
}


.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}

.swal-modal {
  background-color: rgba(245, 241, 241, 0.95);
  /* background-color: rgba(143, 168, 149, 0.99); */
  /* background-color: rgba(60, 141, 188,0.90); */
  
}